<div class="column">
  <img src="{{gameImage}}" style="width:80px;height:58px;" /> {{gameName}}
  <div>
    Min Players: {{minPlayers}}
  </div>
  <div>
    Max Players: {{maxPlayers}}
  </div>
</div>
